@inherits LayoutComponentBase

<div class="header_wp">
    <h1 class="header_title"><a href="/">Github <span>Jobs</span></a></h1>
</div>

<div class="main">
    @Body
</div>

<div class="credits">
    <p><a href="https://github.com/ZephiroRB" target="_blank" rel="noopener noreferrer">Carlos Montalvo </a>"DevChallenges.io"</p>
</div>
