
@inherits LayoutComponentBase

<div class="results_wp">
    <div class="job_wp">
        <div class="job_image"><a href="/details/5633c55d-d005-4bc2-bc81-ff83f1b89cfc"><img src="https://jobs.github.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBanVMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4a37467bd35b454e6218fdce85e8de60eb103dc7/Future%20Plc%20logo.jpeg" alt="Future Plc"></a></div>
        <div class="job_details">
            <div class="wrapper">
                <h1>Future Plc</h1>
                <a href="/details/5633c55d-d005-4bc2-bc81-ff83f1b89cfc">Java Developer</a><span>Full Time</span>
            </div>
            <ul class="job_details_extras">
                <li>
                    <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"></path>
                    </svg>
                    <span>Brno-střed</span>
                </li>
                <li>
                    <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                    </svg>
                    <span>12 days ago</span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="job_pagination">
        <div class="job_page_pagination">
            <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path>
            </svg>
        </div>
        <div class="job_page_pagination"><span>1</span></div>
        <div class="job_page_pagination"><span>2</span></div>
        <div class="job_page_pagination"><span>3</span></div>
        <div class="job_page_pagination"><span>4</span></div>
        <div class="job_page_pagination"><span>5</span></div>
        <div class="job_page_pagination"><span>6</span></div>
        <div class="job_page_pagination"><span>7</span></div>
        <div class="job_page_pagination"><span>8</span></div>
        <div class="job_page_pagination"><span>9</span></div>
        <div class="job_page_pagination active"><span>10</span></div>
        <div class="job_page_pagination disabled">
            <svg class="svg_icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
            </svg>
        </div>
    </div>
</div>

@code {

  


}
